<div class="container">

  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Pessoas</h1>
    </div>
  </div>

  <form autocomplete="off" #f="ngForm" (ngSubmit)="onPesquisar()">
    <div class="ui-g-12 ui-fluid">
      <label>Nome</label>
      <input pInputText name="nome" [(ngModel)]="filter.nome">
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Pesquisar"></button>
      <button pButton type="button" label="Limpar" (click)="onLimpar()" class="ui-button-success">
      </button>
    </div>
  </form>

  <div class="ui-g-12">
    <p-table #table [value]="page?.content" [paginator]="true" [rows]="pageable?.size" [responsive]="true" [lazy]="true"
      [lazyLoadOnInit]="false" (onLazyLoad)="onLazyLoad($event)" [resetPageOnSort]="false"
      [totalRecords]="page?.totalElements" [loading]="isLoading">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="nome">
            Nome
            <p-sortIcon field="nome"></p-sortIcon>
          </th>
          <th>Cidade</th>
          <th>Estado</th>
          <th style="width: 95px;">Status</th>
          <th style="width: 95px;"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pessoa>
        <tr>
          <td>{{ pessoa.nome }}</td>
          <td>{{ pessoa.endereco.cidade }}</td>
          <td>{{ pessoa.endereco.estado }}</td>
          <td class="text-center">{{ pessoa.ativo ? 'Ativo' : 'Inativo' }}</td>
          <td>
            <button pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></button>
            <button pButton icon="pi pi-trash" class="ui-button-danger" pTooltip="Excluir"
              tooltipPosition="top"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="5">
            Não há registros
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        Exibindo {{ page?.numberOfElements }} de {{ page?.totalElements }} registro(s)
      </ng-template>
    </p-table>
  </div>

  <div class="ui-g-12">
    <button pButton label="Nova Pessoa" [routerLink]="['nova']"></button>
  </div>
</div>
